<div class="container mt-4">
  <h1>Formulario <small>de jugadores de futbol</small></h1>
  <br>
</div>
<div class="container mt-4">
  <form [formGroup]="forma" (ngSubmit)="guardar()" novalidate="novalidate">

    <div class="row">
      <mat-form-field class="example-container" appearance="outline">
        <mat-label>Judagor: </mat-label>
        <input matInput formControlName="nombre" placeholder="Nombre del jugador:">
      </mat-form-field>
    </div>

      <div class="row">
        <mat-form-field class="example-container" appearance="outline">
          <mat-label>Apellido: </mat-label>
          <input matInput formControlName="apellido" placeholder="Apellido del jugador">
        </mat-form-field>
      </div>

    <div class="row">
      <mat-form-field class="example-container" appearance="outline">
        <mat-select placeholder="Selecciona el país del jugador" formControlName="pais">
          <mat-option *ngFor="let lugar of paises" [value]="lugar.codigo">{{lugar.pai}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="text-center">
      <button mat-raised-button color="primary">Guardar</button>
    </div>


  </form>



</div>
